<body class="bg">
    <span class="left">What is SudokuBot?</span>
    <span class="left-down">SudokuBot is a bot that solves 9x9 Sudoku puzzles automatically.</span>
    <span class="down">How does it work?</span>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <div>
                <mat-icon style="font-size:100px;">cloud_upload</mat-icon>
                <span>Upload</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-icon style="font-size:100px;">settings</mat-icon>
                <span>Process</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <mat-icon style="font-size:100px;">keyboard_return</mat-icon>
                <span>Final</span>
            </div>
        </mat-grid-tile>
      </mat-grid-list>


</body>
